
.button{
    color: #fff;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: transform 0.2s;
    gap: 8px;
}

.button:hover{
    transform: scale(1.1);
}


/* button--first */
.button--secondary{
    background-color: #fff;
    border: 2px solid var(--main_color);
    color: var(--main_color);;
}

/* button--second */

.button--secondary-invert{
    background-color: var(--main_color);
    border: 2px solid #fff;

}
/* button--third */
.button--transparent{    
    color: var(--main_color);
    border: 2px solid var(--main_color);
    font-weight: 700;
}
/* button--four */
.button--primary{ 
    background-color: var(--main_color);
    border: 2px solid var(--main_color);   
}
.button--add{
    background-color: #5694FD;
    border: 2px solid #5694FD;
    
}

.button--error{
    background-color: #EB1B25;
    border: 2px solid #EB1B25;
}

.button--sucess{
    background-color: #13BD6B;
    border: 2px solid #13BD6B;
}

.button:disabled{
    background-color: gray;
    border: 2px solid gray;
}