


.learning{
    background-color: #210B54;
    padding: 60px 0;
    margin-bottom: 40px;
}

.learning__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.learning__title{
    color: #fff;
    margin-bottom: 50px;
}


.learning__cards{
    display: flex;
    gap: 40px;
}


.card{
    background-color: #fffaf2;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
.card__title{
    margin: 10px 0;
    font-size: 18px;
    color: var(--header_text_color);
}
.card__description{
    color: var(--text_color);
    margin-bottom: 8px;
    max-width: 300px;
}
