{% extends 'base.html' %}
{% block content %}
<div class="mainblock">
    <div class="content mainblock__content">
        <div class="mainblock__info">
            <h1 class="mainblock__info__label">The 100% engagement platform</h1>
            <p class="mainblock__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, expedita!</p>
            <div class="mainblock__links">
                
                <a href="#" class="mainblock__link button button--four">Learn More</a>
                <a class="button  mainblock__link button--third" href="#">Sign up for free</a>
            </div>
            <p class="mainblock__log-link-header">Already have an account? <a href="#" class="mainblock__log-link">Log in</a></p>
        </div>
        <div class="mainblock__img">
            <img src="http://127.0.0.1:5000/img/student-space_illustrations_studying .png" alt="">
        </div>  
    </div>
</div>
<div class="freetest">
    <div class="freetest__content content">
        <h2 class="freetest__title">They engage from any device.You get instant feedback.</h2>
        <p class="freetest__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ipsam sequi vel!</p>
        <img class="freetest__image" src="http://127.0.0.1:5000/img/ex1.png" alt="...">
        <a href="#" class="button button--four freetest__button">
            <span class="button_text">Try for free</span>
            <i class="fa-solid fa-angle-right"></i>
        </a>
    </div>
</div>
<div class="information">
    <div class="information__content content">
        <h2 class="information__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quos.</h2>
        <div class="information__info">
            <ul class="information__list list">
                <li class="list__item">
                    <h4 class="list__title">Education</h4>     
                    <section class="list__section">
                        <img class="list__image" src="http://127.0.0.1:5000/img/education1.jpg" alt="" width="250px" >
                        <p class="list__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis voluptates eum reiciendis veniam possimus nostrum, dolorem voluptas? Praesentium, consequuntur nam? Ea amet ducimus soluta veritatis ab. Optio quae excepturi velit.</p>
                    </section>
                    <section class="list__section">
                        <p style="text-align: end;" class="list__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis voluptates eum reiciendis veniam possimus nostrum, dolorem voluptas? Praesentium, consequuntur nam? Ea amet ducimus soluta veritatis ab. Optio quae excepturi velit.</p>
                        <img class="list__image" src="http://127.0.0.1:5000/img/education2.jpg" alt="" width="250px">
                        
                    </section>
                    <section class="list__section">
                        <img class="list__image" src="http://127.0.0.1:5000/img/education3.jpg" alt="" width="250px">
                        <p  class="list__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis voluptates eum reiciendis veniam possimus nostrum, dolorem voluptas? Praesentium, consequuntur nam? Ea amet ducimus soluta veritatis ab. Optio quae excepturi velit.</p>
                    </section>

                </li>
            </ul>
        </div>
        <div class="information__selector">
            <input type="radio" name="selector" id="educational" hidden checked>
            <label for="educational"><i class="fa-solid fa-book"></i></label>
            <input type="radio" name="selector" id="business" hidden>
            <label for="business"><i class="fa-solid fa-briefcase"></i></label>
            <input type="radio" name="selector" id="world" hidden>
            <label for="world"><i class="fa-solid fa-earth-americas"></i></label>
        </div>
    </div>
</div>
<div class="learning">
    <div class="learning__content content">
        <h2 class="learning__title">Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
        <ul class="learning__cards">
            <li class="learning__card card">
                <img src="http://127.0.0.1:5000/img/school2.png" alt="" class="card__image">
                <h4 class="card__title">For school</h4>
                <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt pariatur asperiores magnam maxime eligendi nobis.</p>
                <a href="#" class="button button--four card__button">
                     <span class="button_text">Learn more</span>
                     <i class="fa-solid fa-angle-right"></i>
                </a>
             </li>
             <li class="learning__card card">
                 <img src="http://127.0.0.1:5000/img/office2.png" alt="" class="card__image">
                 <h4 class="card__title">For work</h4>
                 <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt pariatur asperiores magnam maxime eligendi nobis.</p>
                 <a href="#" class="button button--four card__button">
                      <span class="button_text">Learn more</span>
                      <i class="fa-solid fa-angle-right"></i>
                  </a>
              </li>
        </ul>            
    </div>
</div>
<div class="feedback">
    <div class='feedback__content content'>  
        <h2 class="feedback__title">Contact</h2>
        <form class="feedback__form form" action="" method="post">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="lastname" placeholder="lastname">
            <input type="text" name="email" placeholder="emali">
            <textarea name="description" id="" cols="30" placeholder="Your problem..." rows="30"></textarea>
            <button type="submit" class="button button--four feedback__submit"> 
                <span class="button__text">Send</span>
                <i class="fa-solid fa-paper-plane"></i>
            </button>
        </form>
    </div>
</div>
{% endblock %}