@import url('root.css');


.button{
    color: #fff;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: transform 0.2s;
    
}

.button:hover{
    transform: scale(1.1);
}

.button--first{
    background-color: #13BD6B;
    border: 2px solid #13BD6B;
    gap: 8px;
}
.button--second{
    background-color: var(--main_color);
    border: 2px solid #fff;
    gap: 8px;
}
.button--third{
    color: var(--main_color);
    border: 2px solid var(--main_color);;
    font-weight: 700;
}
.button--four{
    background-color: var(--main_color);
    border: 2px solid var(--main_color);
    
}