@import url('root.css');

.freetest{
    background-color: aliceblue;
    margin-bottom: 40px;
    padding: 60px 0;
}

.freetest__content{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.freetest__title{
    text-align: center;
    max-width: 450px;
    margin-bottom: 10px;
}
.freetest__description{
    color: var(--text_color);
    /* margin-bottom: 10px; */
}
.freetest__image{
    margin-bottom: 20px;
}