@import url('components/mainblock.css');
@import url('components/information.css');
@import url('components/freetest.css');
@import url('components/list.css');
@import url('components/learning.css');
@import url('components/feedback.css');

/* :root{
    --main_color: #0d1b48;
    --header_text_color:#210B54;
    --text_color: #6d6d6d;
} */