@import url('root.css');

.list__title{
    text-transform: capitalize;
    color: var(--header_text_color);
    font-size: 20px;
    
}
.list__item{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

}
.list__section{
    display: flex;
    justify-self: center;
    gap: 40px;
}
.list__image{
    border-radius: 20px;
}
.list__description{
    color: var(--text_color);
}