@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('button.css');
@import url('mainblock.css');
@import url('information.css');
@import url('freetest.css');
@import url('list.css');
@import url('learning.css');
@import url('feedback.css');
@import url('footer.css');
@import url('form.css');
@import url('header.css');
*{
    box-sizing: border-box;
    font-family: 'Poppins',  sans-serif;
    margin: 0;
    padding: 0;
}

main{
    min-height: 800px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Quicksand', sans-serif;
}
.content{

    width: 1300px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

