@import url('components/form.css');
@import url('components/header.css');
@import url('components/footer.css');
@import url('components/buttons.css');
@import url('components/fonts.css');
@import url('components/container.css');

:root{
    --main_color: #0d1b48;
    --header_text_color:#210B54;
    --text_color: #6d6d6d;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.errorlist{
    list-style: none;
    margin-top: 5px;
}
.errorlist li{
    font-size: 14px;
    text-align: center;
    color: red;
    font-weight: 500;
}

main{
    min-height: 890px;
    display: flex;
    flex-direction: column;
    padding: 80px;
    gap: 60px;
}
.content{
    width: 1300px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
